#Ignore files
.vscode
.DS_Store
*.so
*.cpp
*.html
profile_out.*
*.csv
*.out
*.pyc
*.prof
*.log
src/pmmoto.egg-info/
build/
dist/
data_out/
env/*
.tox/


# Sphinx build
docs/_build/
docs/.doctrees/
docs/_static/*.js
docs/_static/*.css
*.pyc
__pycache__/