#Ignore files
.vscode
.DS_Store
*.so
*.workspace
*.c
*.cpp
*.html
profile_out.*
*.csv
*.out

ICOM/
build/
dist/
archive/
references/
PMMoTo.egg-info/
PMMoTo/__pycache__/
PMMoTo/tmp/

PMMoTo/tests/

PMMoTo/distanceSAVE.pyx
PMMoTo/medialAxis/_skeletonize_3d_cy.pyx
PMMoTo/medialAxis/_skeletonize_3d_ORDER_cy.pyx.in
PMMoTo/medialAxis/medialExtractionFunctions.pyx
PMMoTo/medialAxis/_skeletonize_3d_RAND_cy.pyx
PMMoTo/medialAxis/_skeletonize_3d_SAVE_cy.pyx.in
PMMoTo/medialAxis/_skeletonize_3d_cy.cpp
PMMoTo/medialAxis/_skeletonize_3d_cy.html
tests/dataDump/
tests/mf_*.py
tests/testDomains/membranedata*
tests/dataOut/
tests/inkBottle/
tests/kelseySpherePackTests/
tests/porousMediaGenerate/

tests/testDomains/10pack.out
tests/testDomains/50pack.out
tests/~$inkBottleDrainageSweepGridRefinement.xlsx
tests/testDomains/trimdump.ipynb
tests/testDomains/pa_ng_05.gz
tests/testDomains/pa_ng_10.gz
